{
  "plugins": ["prettier-plugin-sort-imports"],
  "importOrder": [
    "^vue$",
    "^vuex$",
    "^vue-router$",
    "^express$",
    "^sequelize$",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^[./]"
  ]
}
